{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mar">
  <form action="{% url 'accounts:update' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <input type="submit" value="저장" class="input_btn">
      <button onclick="confirmDelete(event)" class="input_btn">
        회원탈퇴
      </button>
    </div>
    <a class="input_btn" style="display:block; text-align:center;" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
  </form>

  <form action="{% url 'accounts:delete' %}" method="POST" id="delete">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
  </form>
</div>

<script>
  function confirmDelete(event) {
    event.preventDefault()

    if (confirm("정말로 탈퇴하시겠습니까?")) {
      document.querySelector("#delete").submit()
    }
  }
</script>
{% endblock content %}