
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'NanumSquareNeo-Variable';
}

body {
  margin: 0;
  min-width: 360px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(63,73,127);
  font-weight: bold;
  font-size : 19px;
}

header {
  height: 150px;
}

nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(194, 205, 235);
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  padding: 10px;
}

.nav--right {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.nav--right__margin {
  margin-right: 10px;
}

.nav--right__btn {
border: none;
background-color: rgb(194, 205, 235);
padding: 0px;
}

#menu {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease;
  width: 100%;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

#menu li {
  width: 100%;
  text-align: center;
  background-color: rgb(194, 205, 235);
  height: 50px;
}

#menuBtn {
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: rgb(63,73,127);
  vertical-align: sub;
}

.main_color {
  border-color: rgb(63,73,127);
}

.content_padding {
  padding-left: 30px;
  padding-right: 30px;
}

