{% extends 'base.html' %}
{% load static %}

{% block style %} 
  {% comment %} css {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
  <script src="https://unpkg.com/embla-carousel-autoplay/embla-carousel-autoplay.umd.js"></script>
{% endblock style %}

{% block content %}
  <article>
    <form action="{% url 'infobases:main' %}" method="GET">
      <section class="newsandweather__container">
        <div class="slideshow--container">
          <span>GeekNews</span>
          {% for key, value in news_dict.items %}
            <div class="mySlides fade">
              <a class="text" href="{{ key }}" target='_blank'>{{ value }}</a>
            </div>
          {% endfor %}
        </div>
        <div class="weather">
          <div class="weather--img" style="background-image: url('{{ icon }}');">
          </div>
          <div>
            <p>{{ weather }}</p>
          </div>
          <div>
            <p>현재온도</p>
            <p>{{ temp }}°C</p>
          </div>
          <div>
            <p>최고온도</p>
            <p>{{ temp_max }}°C</p>
          </div>
          <div>
            <p>최저온도</p>
            <p>{{ temp_min }}°C</p>
          </div>
          <div class = "weather--label__box">
          </div>
          <div>
            <p>체감온도</p>
            <p>{{ feels_like }}°C</p>
          </div>
          <div>
            <p>습도</p>
            <p>{{ humidity }}%</p>
          </div>
          <div>
            <p>미세먼지</p>
            <p>{{ fine_dust }}</p>
          </div>
          <div>
            <p>초미세먼지</p>
            <p>{{ ultrafine_dust }}</p>
          </div>
          <form action="{% url 'infobases:main' %}" method="GET">
            <div class="selectBox">
              <select name="city" class="select" id="city" onchange="this.form.submit()" style="height: 30px;">
                {% for city in cities %}
                  <option value="{{ city.value }}" {% if selected_city == city.value %}selected{% endif %}>{{ city.name }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </section>
      <section class="container">
        <div>
          <p>유튜브 인기 급상승 Top 5</p>
          <iframe width="560" height="315" 
          src={{ youtube_trending_video_list }}
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          allowfullscreen></iframe>
        </div>
        <div>
          <div class="container--books-category">
            <p>예스24 베스트셀러 Top 5</p>
              <div class="selectBox">
                <select name="books" class="select" id="books" onchange="this.form.submit()" style="height: 30px; background-color: white;">
                  <option value="001" {% if selected_book == '001' %}selected{% endif %}>국내도서</option>
                  <option value="002" {% if selected_book == '002' %}selected{% endif %}>외국도서</option>
                  <option value="017" {% if selected_book == '017' %}selected{% endif %}>eBook</option>
                </select>
              </div>
          </div>
          {% for book in books_list %}
          <div>
            <a href="{{ book.book_link }}" class="container--books">
              {% comment %} <span class="container--books-rank">{{ book.book_rank }}</span> {% endcomment %}
              <img src="{{ book.book_img_link }}" alt="{{ book.book_name }}" class="container--books-img">
              <div>
                <span class="container--books--book_name">{{ book.book_rank }}위 {{ book.book_name }}</span><br>
                <span class="container--books--book_author">{{ book.book_author }}</span>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <div>
          <p>멜론 Top 10</p>
          <div>
            <div class="slide1">
              {% for song in top_ten_songs|slice:":5" %}
                <div class="container--melon">
                  <a href="{{ song.music_url }}"><img src="{{ song.image }}" alt="{{ song.album }}" class="melon__image"></a>
                  <div class="container--melon__info">
                    <span class="container--melon__title">{{ song.rank }}위 {{ song.title }}</span><br>
                    <span class="container--melon__artist_album">{{ song.artists }}</span><br>
                    <span class="container--melon__artist_album">{{ song.album }}</span>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="slide2">
              {% for song in top_ten_songs|slice:"5:10" %}
                <div class="container--melon">
                  <a href="{{ song.music_url }}"><img src="{{ song.image }}" alt="{{ song.album }}" class="melon__image"></a>
                  <div class="container--melon__info">
                    <span class="container--melon__title">{{ song.rank }}위 {{ song.title }}</span><br>
                    <span class="container--melon__artist_album">{{ song.artists }}</span><br>
                    <span class="container--melon__artist_album">{{ song.album }}</span>
                  </div>
                </div>
              {% endfor %}  
            </div>
          </div>
        </div>
        <div>
          <p>CGV Top 10</p>
          <div class="embla">
            <div class="embla__container">
              {% for rank,movie in movies.items %}
                <div class="embla__slide">
                  <div class="poster">
                    <div class="rank">
                      <span>{{ rank }}</span>
                    </div>
                    <img src="{{ movie.0 }}" alt="" class="poster-img">
                    <div class="movieChart_btn_wrap">
                      <a href="{{ movie.5 }}" class="movie-info-btn" >상세보기</a>
                      <a href="{{ movie.6 }}" class="movie-ticketing-btn">예매하기</a>
                    </div>
                  </div>
                  <div class="movie-txt">
                    <div>
                      <a href="{{ movie.5 }}" class="movie-title">
                        <span class="movie-title">{{ movie.1 }}</span>
                      </a>
                    </div>
                    <div class="movie-info">
                      <div class="rating">
                        <img src="{{ movie.2 }}" alt="">
                        <p>{{ movie.3 }}</p>
                      </div>
                      <div>|</div>
                      <div class="ticketing">
                        <p>{{ movie.4 }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- webtoon -->
        <div>
          <p>탑툰 Top 5</p>
          <div class="embla">
            <div class="embla__container">
              {% for rank,webtoon in webtoon.items %}
                <div class="embla__slide">
                  <div class="poster">
                    <div class="rank">
                      <span>{{ rank }}</span>
                    </div>
                    <img src="{{ webtoon.0 }}" alt="" class="poster-img">
                    <div class="movieChart_btn_wrap">
                      <a href="#" class="movie-info-btn" >상세보기</a>
                    </div>
                  </div>
                  <div class="movie-txt">
                    <div>
                      
                      <span class="movie-title">{{ webtoon.1 }}</span>
                      
                    </div>
                    <div class="movie-info">
                      <div class="rating">
                    
                        <p>{{ webtoon.2 }}</p>
                      </div>
                      <div>|</div>
                      <div class="ticketing">
                        <p>{{ webtoon.3 }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!--
          
         <div class="webtoon--section">
          <p>탑툰 Top 5</p>
          <div id="webtoon-carousel" class="webtoon--container">
            {% for rank, webtoon in webtoons.items %}
            <ul class="webtoon--wrap">
              <li class="webtoon--position webtoon__rank rank">{{ rank }}</li>
              <li><img id="webtoon--image" src="{{ webtoon.0 }}" alt="img"></li>
              <li class="webtoon--position webtoon__title">{{ webtoon.1 }}</li>
              <li class="webtoon--position webtoon__auth">{{ webtoon.2 }}</li>
              <li class="webtoon--position webtoon__veiw">{{ webtoon.3 }}</li>
            </ul>
            {% endfor %}
          </div>
        </div> -->
        <div>e</div>
      </section> 
    </form>
        </form>
      </div>
    </section>
  </article>
{% comment %} javascript {% endcomment %}
<script src="{% static '/js/main.js' %}" type="text/javascript"></script>


{% endblock content %}
{% block footer %}
  <footer>
    <div class="width">
      <div class="footer--div_1">
        <a href='https://github.com/sodamjeong' target='_blank' class="name">정소담</a>
        <span>|</span>
        <a href='https://github.com/sotthang' target='_blank' class="name">소현섭</a>
        <span>|</span>
        <a href='https://github.com/JiSuMun' target='_blank' class="name">문지수</a>
        <span>|</span>
        <a href='https://github.com/qloeo' target='_blank' class="name">정미영</a>
      </div>
      <div class="footer--div_2">
        <div>KDT 풀스택 2기 달님반🌙</div>
        <div>Copyright 2023. All Rights Reserved.</div> 
      </div>
    </div>
  </footer>
{% endblock footer %}