{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock head %}

{% block content %}

<div class="search--container">
  
  {% if infos %}
  <h1>'{{ query }}' 검색 결과</h1>
    {% for info in infos %}
      <div class="info--box">
        <a href="{% url 'infobases:detail' info.pk %}">
          <div>
            <p>제목: {{ info.title }}</p>
            <p>내용: {{ info.content }}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
  <div class="none--content">
    검색결과 없음
  </div>
  {% endif %}
</div>

{% endblock content %}