{% extends 'base.html' %}

{% block style %} 
  {% comment %} css {% endcomment %}
  <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
{% endblock style %}

{% block content %}
  <header>
    <nav>
      <div class="width nav--in">
        <a href="#" class="logo--a"><img src="/static/img/dalnim_logo_02_inner_color.png" alt="logo"></a>
        <div class="nav--right">
          <div>
            <form action="" class="nav--right__margin">
              <input type="search" class="main--color">
              <button type="submit" class="nav--right__btn">
                <span class="material-symbols-outlined icon__size">search</span>
              </button>
            </form>
          </div>
          <div>
            <a href="" class="nav--right__margin nav__font">Join</a>
            <a href="" class="nav--right__margin nav__font">Login</a>
            <button type="button" id="menuBtn" class="nav--right__btn">
              <span class="material-symbols-outlined">menu</span>
            </button>
          </div>                    
          <div>
            <ul id="menu">
              <li><a href="">문지수</a></li>
              <li><a href="">소현섭</a></li>
              <li><a href="">정미영</a></li>
              <li><a href="">정소담</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <article class="width">
    <section class="weather__container">
      <div class="slideshow--container">
        <span>GeekNews</span>
        {% for key, value in news_dict.items %}
          <div class="mySlides fade">
            <a class="text" href="{{ key }}" target='_blank'>{{ value }}</a>
          </div>
        {% endfor %}
      </div>
      <div class="weather">
        <div class="weather--img" style="background-image: url('{{ icon }}');">
          <!-- <img src="{{ icon }}" alt=""> -->
        </div>
        <div>
          <p>{{ weather }}</p>
        </div>
        <div>
          <p>현재온도</p>
          <p>{{ temp }}°C</p>
        </div>
        <div>
          <p>최고온도</p>
          <p>{{ temp_max }}°C</p>
        </div>
        <div>
          <p>최저온도</p>
          <p>{{ temp_min }}°C</p>
        </div>
        <div class = "weather--label__box">
          <label for="city">도시</label>
        </div>
        <div>
          <p>체감온도</p>
          <p>{{ feels_like }}°C</p>
        </div>
        <div>
          <p>습도</p>
          <p>{{ humidity }}%</p>
        </div>
        <div>
          <p>미세먼지</p>
          <p>{{ fine_dust }}</p>
        </div>
        <div>
          <p>초미세먼지</p>
          <p>{{ ultrafine_dust }}</p>
        </div>
        <form action="{% url 'infobases:main' %}" method="POST">
        {% csrf_token %}
          <div class = "weather--select__box">
            <select name="city" id="city" onchange="this.form.submit()">
              {% for city in cities %}
                <option value="{{ city.value }}" {% if selected_city == city.value %}selected{% endif %}>{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </section>
    <section class="container">
      <div>
        <iframe width="560" height="315" 
        src={{ youtube_trending_video_list }}
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
      </div>
      <div>b</div>
      <div>c</div>
      <div>d</div>
      <div>e</div>
      <div>f</div>
    </section>
    
  </article>
  
  {% comment %} javascript {% endcomment %}
  <script src="/static/js/main.js" type="text/javascript">
  
  </script>
{% endblock content %}
