{% extends 'base.html' %}
{% load static %}

{% block style %} 
  {% comment %} css {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
{% endblock style %}

{% block content %}
  <article class="width">
    <section class="newsandweather__container">
      <div class="slideshow--container">
        <span>GeekNews</span>
        {% for key, value in news_dict.items %}
          <div class="mySlides fade">
            <a class="text" href="{{ key }}" target='_blank'>{{ value }}</a>
          </div>
        {% endfor %}
      </div>
      <div class="weather">
        <div class="weather--img" style="background-image: url('{{ icon }}');">
        </div>
        <div>
          <p>{{ weather }}</p>
        </div>
        <div>
          <p>현재온도</p>
          <p>{{ temp }}°C</p>
        </div>
        <div>
          <p>최고온도</p>
          <p>{{ temp_max }}°C</p>
        </div>
        <div>
          <p>최저온도</p>
          <p>{{ temp_min }}°C</p>
        </div>
        <div class = "weather--label__box">
        </div>
        <div>
          <p>체감온도</p>
          <p>{{ feels_like }}°C</p>
        </div>
        <div>
          <p>습도</p>
          <p>{{ humidity }}%</p>
        </div>
        <div>
          <p>미세먼지</p>
          <p>{{ fine_dust }}</p>
        </div>
        <div>
          <p>초미세먼지</p>
          <p>{{ ultrafine_dust }}</p>
        </div>
        <form action="{% url 'infobases:main' %}" method="POST">
        {% csrf_token %}
          <div class="selectBox">
            <select name="city" class="select" id="city" onchange="this.form.submit()" style="height: 30px;">
              {% for city in cities %}
                <option value="{{ city.value }}" {% if selected_city == city.value %}selected{% endif %}>{{ city.name }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </section>
    <section class="container">
      <div>
        <p>유튜브 인기 급상승 Top 5</p>
        <iframe width="560" height="315" 
        src={{ youtube_trending_video_list }}
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
      </div>
      <div>b</div>
      <div>c</div>
      <div>d</div>
      <div>e</div>
      <div>f</div>
    </section> 
  </article>
{% comment %} javascript {% endcomment %}
<script src="{% static '/js/main.js' %}" type="text/javascript"></script>
{% endblock content %}
{% block footer %}
  <footer>
    <div class="width">
      <div class="footer--div_1">
        <a href='https://github.com/sodamjeong' target='_blank' class="name">정소담</a>
        <span>|</span>
        <a href='https://github.com/sotthang' target='_blank' class="name">소현섭</a>
        <span>|</span>
        <a href='https://github.com/JiSuMun' target='_blank' class="name">문지수</a>
        <span>|</span>
        <a href='https://github.com/qloeo' target='_blank' class="name">정미영</a>
      </div>
      <div class="footer--div_2">
        <div>KDT 풀스택 2기 달님반🌙</div>
        <div>Copyright 2023. All Rights Reserved.</div> 
      </div>
    </div>
  </footer>
{% endblock footer %}