<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="icon" href="{% static 'img/dalnim_favicon.png' %}">
    <link rel="apple-touch-icon" href="{% static 'img/dalnim_favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block head %}{% endblock head %}
    <title>Dalnim</title>
    {% block style %} 
    {% endblock style %}
  </head>
  <body>
    <header>
      <nav>
        <div class="width nav--in">
          <a href="{% url 'infobases:main' %}" class="logo--a"><img src="/static/img/dalnim_logo_02_inner_color.png" alt="logo"></a>
          <div class="nav--right">
            <div>
              <form action="{% url 'infobases:search' %}" class="nav--right__margin">
                <div class="search--box">
                  <input type="search" class="main--color" name='q'>
                  <button type="submit" class="nav--right__btn">
                    <span class="material-symbols-outlined icon__size">search</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="search--box">
              {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:profile' user %}" class="nav--right__margin nav__font">{{ user }}</a>
                <a href="{% url 'accounts:logout' %}" class="nav--right__margin nav__font">Logout</a>
              {% else %}
                <a href="{% url 'accounts:join' %}" class="nav--right__margin nav__font">Join</a>
                <a href="{% url 'accounts:login' %}" class="nav--right__margin nav__font">Login</a>
              {% endif %}
              <button type="button" id="menuBtn" class="nav--right__btn">
                <span class="material-symbols-outlined">menu</span>
              </button>
            </div>
            <div>
              <ul id="menu">
                <li><a href="{% url 'infobases:create' %}">문지수</a></li>
                <li><a href="{% url 'infobases:create' %}">소현섭</a></li>
                <li><a href="{% url 'infobases:create' %}">정미영</a></li>
                <li><a href="{% url 'infobases:create' %}">정소담</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="width">
    {% block content %} 
    {% endblock content %}
    </main>
    {% block footer %}
    {% endblock footer %}

    {% block script %}
    {% endblock script %}
    <script src="{% static '/js/base.js' %}" type="text/javascript"></script>
  </body>
</html>